---
layout: jobs
title: Jobs
permalink: /jobs/
menu: main
weight: 5
---

{% for job in site.categories.job %}
{% assign loopindex = forloop.index | modulo: 3 %}

{% if loopindex == 1 %} <div class="row"> {% endif %}
  <div class="col-md-4 col-sm-6 portfolio-item">
    <a href="{{ job.url }}" class="portfolio-link">
      <img src="/img/job/{% if job.img %}{{ job.img }}{% else %}default.jpg{% endif %}" class="center-block" height="200" width="320" alt="">
    <div class="portfolio-caption">
      <h4><a href="{{ job.url }}">{{ job.title }}</a></h4>
    </div>
    </a>
  </div>
  {% if loopindex == 0 %} </div> {% endif %}
{% endfor %}