---
layout: default
---
<header class="blog" style="background-image:url('/img/job/{% if page.background_img %}{{ page.background_img }}{% else %}default.jpg{% endif %}');"></header>

<section>
  <div class="container">
    <h1 class="text-center">{{ page.title | escape }}</h1>
    {% if page.subtitle %} <h3 class="section-subheading text-muted text-center">{{ page.subtitle | escape }}</h3> {% endif %}
    <div class="row">
      <article class="post col-lg-10 col-lg-offset-1" itemscope itemtype="http://schema.org/BlogPosting">
        <div itemprop="articleBody">
          {{ content }}
        </div>
      </article>
    </div>
  </div>
</section>
